$color-primary: #55c57a;
$color-primary-tint: #7ed56f;
$color-primary-shade: #28b485;
$color-white: #fff;

$color-grey-white: #777;
$color-black: #000;
$color-black-tint: #999;
$color-black-shade: #333;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-secondary-tint: #ffb900;
$color-secondary-shade: #ff7730;

$color-tertiary-tint: #2998ff;
$color-tertiary-shade: #5643fa;

$row-gutter: 8rem;
$row-gutter-small: 6rem;
$col-gutter: 6rem;

$small-font: 1.6rem;
